<section class="zero">
<code>@include outer-container;</code>
  <div id="alpha">
    <code>@include span-columns(6);</code>
  </div>
  <div id="beta">
    <code>@include span-columns(6);<br></code>
  </div>
</section>
