<section class="zero">
<code>@include outer-container;</code>
  <div id="alpha">
    <code>@include span-columns(6);</code>
  </div>
  <div id="beta">
    <code>@include span-columns(6);<br></code>
  </div>
</section>
<section class="zero">
<code>@include outer-container;</code>
  <div id="alpha1">
    <code>@include span-columns(6);</code>
  </div>
  <div id="beta1">
    <code>@include span-columns(6);<br></code>
  </div>
</section>
<section class="zero">
<code>@include outer-container;</code>
  <div id="alpha11">
    <code>@include span-columns(6);</code>
  </div>
  <div id="beta11">
    <code>@include span-columns(6);<br></code>
  </div>
</section>
<section class="zero">
<code>@include outer-container;</code>
  <div id="alpha111">
    <code>@include span-columns(6);</code>
  </div>
  <div id="beta111">
    <code>@include span-columns(6);<br></code>
  </div>
</section>
